:root {
  --color-primary: #2a2138;
  --color-secondary: #3b3458;
  --border-radius: 30px;
  --box-shadow: 0 0 30px 10px #eceaea;
  --color--shadow: #ccc;
}

/* Typography */

body {
  font-family: Andika, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

h1 {
  color: #000;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-shadow: 2px 2px #555;
  word-spacing: 1.5rem;
}

h1,
h2,
h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.list__item {
  font-weight: 400;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: red;
}

/* Navigation Bar */

.nav {
  align-items: center;
  background: var(--color-secondary);
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
}

.nav__list {
  margin-left: 1rem;
  margin: 0;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #222;
  letter-spacing: 1px;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0;
}

.nav__item:hover {
  background: var(--color-primary);
}

.nav__anchor {
  color: #ccc;
  transition: color 0.3s;
}

.nav__anchor:hover {
  color: #fff;
  text-decoration: none;
}

.menu {
  margin: 0.5rem;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.collapsible--expanded .menu {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
  }

  .nav__item {
    border: 0;
  }

  .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}

/* Block */
.block {
  padding: 11rem 4rem;
}

.block__heading {
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  font-size: 5rem;
  letter-spacing: normal;
}

.block--secondary {
  background: var(--color-secondary);
}

.block--secondary .block__heading {
  color: #fff;
}

/* Block Hero */
.hero .block__heading {
  margin-top: 0;
}

.hero__image {
  width: auto;
}

/* Block Plan */
.plan {
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 5px var(--color--shadow);
  padding: 2rem;
  margin: 2rem 0;
}

/* Quotes */
.quote {
  font-size: 2.5rem;
  font-style: italic;
  margin: 0;
}

.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

.quote__author {
  letter-spacing: 1px;
}

.quote__organization {
  font-style: italic;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .quote {
    font-size: 2rem;
  }
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Testimonial */
.testimonial {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  max-width: 35rem;
  max-height: 20rem;
  overflow: hidden;
  padding: 2rem;
}

.testimonial__message {
  /* TODO: Limit testimonial message up to two lines.  */
}

.testimonial__image {
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  width: 7rem;
}

.testimonial__handle {
  font-weight: bold;
}

.testimonial__content::before {
  content: open-quote;
}

.testimonial__content::after {
  content: close-quote;
}

.stress {
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0 2rem;
}

ol li {
  font-size: 1.5rem;
}

.card {
  width: 18rem;
  border-radius: 5px;
  float: left;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  object-fit: cover;
}

.card .cards {
  justify-content: center;
  background: tomato;
  border: 1px solid orange;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile body {
  justify-content: center;
}

.profile h1 {
  justify-content: start;
  align-content: flex-start;
}

.profile .cards:hover {
  transform: scale(1.01);
}

/* Help Guide */
.help-guide {
  background: var(--color-secondary);
}

.help-guide__header {
  text-align: center;
  padding-top: 20rem;
}

@media screen and (min-width: 768px) {
  .help-guide__header {
    padding-top: 13rem;
  }
}

.skew-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: 6rem;
}

.container-banner {
  color: #fff;
  margin: 3rem 0;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Introduction Content */
.section__heading {
  color: #000;
  letter-spacing: 1px;
  font-weight: 600;
}

.introduction-content {
  background: var(--color-secondary);
  padding-bottom: 3rem;
  margin: 6rem 0;
}

.introduction-content__body {
  text-indent: 3rem;
}

/* Schools Body */
.fa {
  cursor: pointer;
}

.schools {
  font-size: 2rem;
}

.schools__table,
.schools__search-box {
  max-width: 80rem;
  width: auto;
}

/* Testonials */
.testimonials .grid {
  gap: 4rem;
}

.testimonials {
  max-width: 80rem;
  margin: 0 auto 12rem;
}

.testimonial__image > img {
  width: auto;
}

.testimonials__image {
  position: relative;
}

.testimonials.plan {
  padding: 2rem 3.5rem;
}

.testimonials__image > .icon-container {
  position: absolute;
  top: 1rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin-bottom: 9rem;
  }

  .testimonials.plan {
    padding: 2rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin: 0;
}

.media__body {
  margin: 0 2rem;
}

/* Other Testimonials */
.other-testimonials .grid {
  gap: 0.5rem;
  column-gap: 0.5rem;
}

/* Buttons */
a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.btn {
  padding: 1rem;
  font-size: 2rem;
  border-radius: var(--border-radius);
}

.btn--secondary {
  background: dodgerblue;
}

.btn--secondary:hover {
  background: #3896f5;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Callout */
.callout .grid {
  gap: 0;
}

.callout--primary {
  background: #1a7de0;
  padding: 4rem;
  border-radius: 5px;
  color: #fff;
}

.callout__heading {
  margin-top: 0;
  letter-spacing: 1px;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Footer */
.footer {
  position: relative;
}

.footer .callout {
  position: absolute;
  top: -10%;
  right: 2rem;
  left: 2rem;
  z-index: 1;
}

/* Tables */
.table {
  font-size: 2rem;
}
