:root {
  --color-primary: #2a2138;
  --color-secondary: #3b3458;
  --border-radius: 30px;
  --box-shadow: 0 0 30px 10px rgb(236, 234, 234);
}

/* Typography */

body {
  font-family: Andika, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

h1 {
  color: #000;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-shadow: 2px 2px #555;
  word-spacing: 1.5rem;
}

.list__item {
  font-weight: 400;
}

.anchor,
.nav-link {
  font-size: 1.75rem;
}

.nav {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  list-style: none;
}

.nav__list:hover {
  text-decoration: none;
  background: #221a2e;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.heading {
  text-align: center;
}

@media screen and (min-width: 501px) {
  form {
    width: 75%;
  }
}

@media screen and (min-width: 660px) {
  form {
    width: 45%;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .fa,
  .fas {
    text-align: center;
  }
}

button {
  outline: 0;
}

.clickable {
  cursor: pointer;
}

::selection {
  background-color: pink;
}

.nav-item {
  margin: 0 0.5rem;
}

.login {
  color: #222;
  line-height: 1.5;
}

.login h1,
.login h2,
.login h3,
.login h4,
.login h5,
.login h6 {
  color: #000;
  font-weight: 900;
  line-height: 1.1;
  margin: 3rem 0 1rem;
}

section {
  line-height: 1.5;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Testimonial */
.testimonial {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  max-width: 35rem;
  max-height: 20rem;
  overflow: hidden;
  padding: 2rem;
}

.testimonial__message {
  /* TODO: Limit testimonial message up to two lines.  */
}

.testimonial__image {
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  width: 7rem;
}

.testimonial__handle {
  font-weight: bold;
}

.testimonial__content::before {
  content: open-quote;
}

.testimonial__content::after {
  content: close-quote;
}

@media screen and (min-width: 768px) {
  .testimonials {
    margin: 1rem auto;
    max-width: 90rem;
  }
}

.stress {
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0 2rem;
}

ol li {
  font-size: 1.5rem;
}

.card {
  width: 18rem;
  border-radius: 5px;
  float: left;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  object-fit: cover;
}

.card .cards {
  justify-content: center;
  background: tomato;
  border: 1px solid orange;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile body {
  justify-content: center;
}

.profile h1 {
  justify-content: start;
  align-content: flex-start;
}

.profile .cards:hover {
  transform: scale(1.01);
}

/* Help Guide */
.help-guide {
  background: var(--color-secondary);
}

.help-guide__header {
  text-align: center;
}

.skew-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
  padding-bottom: 6rem;
}

.container-banner {
  color: #fff;
  margin: 3rem 0;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Introduction Content */
.introduction-content {
  background: var(--color-secondary);
  padding-bottom: 3rem;
  margin: 6rem 0;
}

.introduction-content__body {
  text-indent: 3rem;
}

/* Schools Body */
@media screen and (min-width: 768px) {
  .schools-body {
    max-width: 60rem;
  }
}
